.App {
  text-align: center;
  background-color: #494949;
  color: white;
}

.PerkContainer{
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 5px;
  height: 100%;
}

.icon{
  max-width: 100%;
}

.PerkPopis {
  display: none;
}

.PerkContainer:hover .PerkPopis{
 display: block;
 position: fixed;
 left: 5%;
 top: 10%;
 width: 90vw;
 color: white;
 background-color: black;
 border-style: solid;
 border-color: gray;
 border-width: 5px;
 border-radius: 15px;
 padding: 20px;
 z-index: 99;
 -webkit-box-shadow: 30px 40px 40px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 30px 40px 40px 0px rgba(0,0,0,0.75);
 box-shadow: 30px 40px 40px 0px rgba(0,0,0,0.75);
}

.activeItem { 
  border-color: white;
  border-style: solid;
  border-width: 5px;
  margin: 0px;
}

.inactiveItem {
  margin: 5px;
}

p{
  font-size:calc(100% + 0.2vw);
}